body {
    background-color:mintcream;
    color:black;
    font-family:  'Times New Roman', serif;
    font-size:18px;
    text-align:left;
    line-height:1.1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-bottom:5vh;
}
